{% extends 'layout.html' %}

{% block content %}
  <main>
    <section id="about">
      <div class="about-container">
        <h1>About Me and Website</h1>
        <p>Welcome to my Georgian blog website! My name is Khvtisavar Zedelashvili, and I'm a 15-year-old full-stack web developer passionate about technology and web development. I created this platform as a space to share my journey, insights, and experiences in the world of coding. Whether you're new to programming or an experienced developer, here you'll find practical tips, tutorials, and thoughts on building web applications using Flask, Python, and JavaScript.</p>
        
        <p>My goal is to inspire and help others who are interested in web development by providing clear explanations, useful resources, and showcasing my projects. Join me on this journey as we explore the endless possibilities of creating dynamic and engaging web applications.</p>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Backend Blog. All rights reserved.</p>
  </footer>
</body>
</html>
{% endblock %}
