{% extends 'layout.html' %}

{% block content %}
<main>
    <section id="home">
        <h1>Welcome to My Blog Website</h1>
    </section>

    <section id="blog">
        <h2>Blog Posts</h2>
        <div class="blog-list">
            {% for post in blog %}
            <div class="blog-item">
                <h3>{{ post.author.name }}</h3>  {# Example: Displaying author's name #}
                <h3>{{ post.title }}</h3>
                <p>{{ post.text }}</p>
                {% if post.img %}
                <img src="{{ url_for('static', filename=post.img) }}" alt="Blog Image" width="150px">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
</main>

<script>
    function updateFileLabel(input) {
        var label = input.nextElementSibling;
        var fileName = input.files[0].name;
        label.innerText = fileName;
    }
</script>

{% endblock %}
